{% extends "wrapper.html" %}
{% block content %}
{% load static %}
    <section class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <!-- START HOT-DEALS-AREA -->
                    <div class="hot-deals-area carosel-circle">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="area-title">
                                    <h3 class="title-group border-red gfont-1">Hot Deals</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="active-hot-deals">
                                <!-- Start Single-hot-deals -->
                                {% for item in item_list %}
                                {% if item.hotdeal %}
                                <div class="col-xs-12">
                                    <div class="single-hot-deals">
                                        <div class="hot-deals-photo">
                                            <a href="product_detail/{{item.id}}"><img src="{{ item.image.url }}" alt="Product"></a>
                                        </div>
                                        <div class="count-down">
                                            <div class="timer">
                                                <div data-countdown="2017/12/31"></div>
                                            </div>
                                        </div>
                                        <div class="hot-deals-text">
                                            <h5><a href="#" class="name-group">{{ item.title }}</a></h5>
                                            <span class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></span>
                                            <div class="price-box">
                                                <span class="price gfont-2">${{ item.new_price }}</span>
                                                <span class="old-price gfont-2">${{ item.old_price }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                                <!-- End Single-hot-deals -->
                            </div>
                        </div>
                    </div>
                    <!-- END HOT-DEALS-AREA -->
                    <!-- START SMALL-PRODUCT-AREA -->
						<div class="small-product-area carosel-navigation">
							<div class="row">
								<div class="col-md-12">
									<div class="area-title">
										<h3 class="title-group gfont-1">Bestseller</h3>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="active-bestseller sidebar">
									<div class="col-xs-12">
										<!-- Start Single-Product -->
                                        {% for item in item_list %}
                                        {% if item.bestseller %}
										<div class="single-product">
											<div class="product-img mw-10">
												<a href="product_detail/{{item.id}}">
													<img class="primary-img mw-10" src="{{ item.image.url }}" alt="Product" style="height: 100px">
												</a>
											</div>
											<div class="product-description">
												<h5><a href="product_detail/{{item.id}}" name="item.id">{{ item.title }}</a></h5>
												<div class="price-box">
													<span class="price">${{ item.new_price }}</span>
													<span class="old-price">${{ item.old_price }}</span>
												</div>
												<span class="rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
												</span>
											</div>
										</div>
                                        {% endif %}
                                        {% endfor %}
									</div>
								</div>
							</div>
						</div>
                    <!-- END SMALL-PRODUCT-AREA -->
                    <!-- START RECENT-POSTS -->
                    <div class="shop-blog-area sidebar">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="title-group border-red gfont-1">RECENT POSTS </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="active-recent-posts carosel-circle">
                                <!-- Start Single-Recent-Posts -->
                                <div class="col-xs-12">
                                    <div class="single-recent-posts">
                                        <div class="recent-posts-photo">
                                            <img src="{% static 'img/posts/1.jpg' %}" alt="Recent Posts">
                                        </div>
                                        <div class="recent-posts-text">
                                            <h5><a href="#" class="recent-posts-title">swimwear for women</a></h5>
                                            <span class="recent-posts-date">23/12/2015 | BootExpert Theme</span>
                                            <p class="posts-short-brif">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                                            <a href="#" class="posts-read-more">Read more ...</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single-Recent-Posts -->
                                <!-- Start Single-Recent-Posts -->
                                <div class="col-xs-12">
                                    <div class="single-recent-posts">
                                        <div class="recent-posts-photo">
                                            <img src="{% static 'img/posts/2.jpg' %}" alt="Recent Posts">
                                        </div>
                                        <div class="recent-posts-text">
                                            <h5><a href="#" class="recent-posts-title">swimwear for women</a></h5>
                                            <span class="recent-posts-date">23/12/2015 | BootExpert Theme</span>
                                            <p class="posts-short-brif">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                                            <a href="#" class="posts-read-more">Read more ...</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single-Recent-Posts -->
                                <!-- Start Single-Recent-Posts -->
                                <div class="col-xs-12">
                                    <div class="single-recent-posts">
                                        <div class="recent-posts-photo">
                                            <img src="{% static 'img/posts/3.jpg' %}" alt="Recent Posts">
                                        </div>
                                        <div class="recent-posts-text">
                                            <h5><a href="#" class="recent-posts-title">swimwear for women</a></h5>
                                            <span class="recent-posts-date">23/12/2015 | BootExpert Theme</span>
                                            <p class="posts-short-brif">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                                            <a href="#" class="posts-read-more">Read more ...</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single-Recent-Posts -->
                                <!-- Start Single-Recent-Posts -->
                                <div class="col-xs-12">
                                    <div class="single-recent-posts">
                                        <div class="recent-posts-photo">
                                            <img src="{% static 'img/posts/4.jpg' %}" alt="Recent Posts">
                                        </div>
                                        <div class="recent-posts-text">
                                            <h5><a href="#" class="recent-posts-title">swimwear for women</a></h5>
                                            <span class="recent-posts-date">23/12/2015 | BootExpert Theme</span>
                                            <p class="posts-short-brif">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                                            <a href="#" class="posts-read-more">Read more ...</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single-Recent-Posts -->
                                <!-- Start Single-Recent-Posts -->
                                <div class="col-xs-12">
                                    <div class="single-recent-posts">
                                        <div class="recent-posts-photo">
                                            <img src="{% static 'img/posts/1.jpg' %}" alt="Recent Posts">
                                        </div>
                                        <div class="recent-posts-text">
                                            <h5><a href="#" class="recent-posts-title">swimwear for women</a></h5>
                                            <span class="recent-posts-date">23/12/2015 | BootExpert Theme</span>
                                            <p class="posts-short-brif">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                                            <a href="#" class="posts-read-more">Read more ...</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single-Recent-Posts -->
                            </div>
                        </div>
                    </div>
                    <!-- END RECENT-POSTS -->
                </div>
                <div class="col-md-9 col-sm-9">
                    <!-- START PRODUCT-BANNER -->
                    <div class="product-banner home1-banner">
                        <div class="row">
                            <div class="col-md-7 banner-box1">
                                <div class="single-product-banner">
                                    <a href="#"><img src="{% static 'img/banner/3.jpg' %}" alt="Product Banner"></a>
                                    <div class="banner-text banner-1">
                                        <h2>head phone 2015</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 banner-box2">
                                <div class="single-product-banner">
                                    <a href="#"><img src="{% static 'img/banner/4.jpg' %}" alt="Product Banner"></a>
                                    <div class="banner-text banner-2">
                                        <h2>Deals <span>50%</span></h2>
                                        <p>lumina n85</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PRODUCT-BANNER -->
                    <!-- START PRODUCT-AREA (1) -->
                    <div class="product-area">
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <!-- Start Product-Menu -->
                                <div class="product-menu">
                                    <div class="product-title">
                                        <h3 class="title-group-2 gfont-1">Audio</h3>
                                    </div>

                                    <ul role="tablist">
                                        <li role="presentation" class=" active"><a href="#display-1-1" role="tab" data-toggle="tab">Speaker</a></li>
                                        <li role="presentation"><a href="#display-1-2" role="tab" data-toggle="tab">TV</a></li>
                                        <li role="presentation"><a href="#display-1-3"  role="tab" data-toggle="tab">Mobile</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Product-Menu -->
                        <div class="clear"></div>
                        <!-- Start Product -->
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <div class="product carosel-navigation">
                                    <div class="tab-content">
                                        <!-- Product = display-1-1 -->
                                        <div role="tabpanel" class="tab-pane fade in active" id="display-1-1">
                                            <div class="row">
                                                <div class="active-product-carosel">
                                                    <!-- Start Single-Product -->
                                                    {% for item in item_list %}
                                                    {% if item.category.name == 'AUDIO' %}
                                                    <div class="col-xs-12">
                                                        <div class="single-product">
                                                            <div class="label_new">
                                                                <span class="new">new</span>
                                                            </div>
                                                            <div class="sale-off">
                                                                <span class="sale-percent">-55%</span>
                                                            </div>
                                                            <div class="product-img">
                                                                <a href="product_detail/{{item.id}}">
                                                                    <img class="primary-img" src="{{ item.image.url }}" alt="Product">
                                                                    <img class="secondary-img" src="{{ item.image_hover.url }}" alt="Product">
                                                                </a>
                                                            </div>
                                                            <div class="product-description">
                                                                <h5><a href="#" name="{{ item.id }}">{{ item.title }}</a></h5>
                                                                <div class="price-box">
                                                                    <span class="price">${{ item.new_price }}</span>
                                                                    <span class="old-price">${{ item.old_price }}</span>
                                                                </div>
                                                                <span class="rating">
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star-o"></i>
                                                                </span>
                                                            </div>
                                                            <div class="product-action">
                                                                <div class="button-group">
                                                                    <div class="product-button">
                                                                        <button><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                                                    </div>
                                                                    <div class="product-button-2">
                                                                        <a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart-o"></i></a>
                                                                        <a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-signal"></i></a>
                                                                        <a href="#" class="modal-view" data-toggle="modal" data-target="#productModal"><i class="fa fa-search-plus"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Product -->
                    </div>
                    <!-- END PRODUCT-AREA (1) -->
<!--                     START PRODUCT-AREA (2)-->
                    <div class="product-area">
                        <!-- Start Product-Menu -->
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <div class="product-menu  border-red">
                                    <div class="product-title">
                                        <h3 class="title-group-2 gfont-1">Computer</h3>
                                    </div>

                                    <ul role="tablist">
                                        <li role="presentation" class=" active"><a href="#display-2-1" role="tab" data-toggle="tab">Dell</a></li>
                                        <li role="presentation"><a href="#display-2-2" role="tab" data-toggle="tab">Hp</a></li>
                                        <li role="presentation"><a href="#display-2-3"  role="tab" data-toggle="tab">Apple</a></li>
                                        <li role="presentation"><a href="#display-2-4"  role="tab" data-toggle="tab">Sony</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Product-Menu -->
                        <!-- Start Product -->
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <div class="product carosel-navigation">
                                    <div class="tab-content">
                                        <!-- Start Product = display-2-1 -->
                                        <div role="tabpanel" class="tab-pane fade in active" id="display-2-1">
                                            <div class="row">
                                                <div class="active-product-carosel">
                                                    <!-- Start Single-Product -->
                                                    {% for item in item_list %}
                                                    {% if item.category.name == 'COMPUTER' %}
                                                    <div class="col-xs-12">
                                                        <div class="single-product">
                                                            <div class="label_new">
                                                                <span class="new">new</span>
                                                            </div>
                                                            <div class="sale-off">
                                                                <span class="sale-percent">-35%</span>
                                                            </div>
                                                            <div class="product-img">
                                                                <a href="product_detail/{{item.id}}">
                                                                    <img class="primary-img" src="{{ item.image.url }}" alt="Product">
                                                                    <img class="secondary-img" src="{{ item.image_hover.url }}" alt="Product">
                                                                </a>
                                                            </div>
                                                            <div class="product-description">
                                                                <h5><a href="#">{{ item.title }}</a></h5>
                                                                <div class="price-box">
                                                                    <span class="price">${{ item.new_price }}</span>
                                                                    <span class="old-price">${{ item.old_price }}</span>
                                                                </div>
                                                                <span class="rating">
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star-o"></i>
                                                                </span>
                                                                <div class="product-action">
                                                                    <div class="button-group">
                                                                        <div class="product-button">
                                                                            <button><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                                                        </div>
                                                                        <div class="product-button-2">
                                                                            <a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart-o"></i></a>
                                                                            <a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-signal"></i></a>
                                                                            <a href="#" class="modal-view" data-toggle="modal" data-target="#productModal" title="Quickview"><i class="fa fa-search-plus"></i></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- END PRODUCT-AREA (2) -->
                    <!--START PRODUCT-AREA (3)-->
                    <div class="product-area">
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <!-- Start Product-Menu -->
                                <div class="product-menu">
                                    <div class="product-title">
                                        <h3 class="title-group-2 gfont-1">Smart Phone</h3>
                                    </div>

                                    <ul role="tablist">
                                        <li role="presentation" class=" active"><a href="#display-3-1" role="tab" data-toggle="tab">Sony</a></li>
                                        <li role="presentation"><a href="#display-3-2" role="tab" data-toggle="tab">Apple</a></li>
                                        <li role="presentation"><a href="#display-3-3"  role="tab" data-toggle="tab">Samsung</a></li>
                                        <li role="presentation"><a href="#display-3-4"  role="tab" data-toggle="tab">Nokia</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    <!--End Product-Menu -->
                    <!--Start Product -->
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <div class="product carosel-navigation">
                                    <div class="tab-content">
                                        <!-- Start Product = display-3-1 -->
                                        <div role="tabpanel" class="tab-pane fade in active" id="display-3-1">
                                            <div class="row">
                                                <div class="active-product-carosel">
                                                    <!-- Start Single-Product -->
                                                    {% for item in item_list %}
                                                    {% if item.category.name == 'SMART PHONE' %}
                                                    <div class="col-xs-12">
                                                        <div class="single-product">
                                                            <div class="label_new">
                                                                <span class="new">new</span>
                                                            </div>
                                                            <div class="sale-off">
                                                                <span class="sale-percent">-35%</span>
                                                            </div>
                                                            <div class="product-img">
                                                                <a href="product_detail/{{item.id}}">
                                                                    <img class="primary-img" src="{{ item.image.url }}" alt="Product">
                                                                    <img class="secondary-img" src="{{ item.image_hover.url }}" alt="Product">
                                                                </a>
                                                            </div>
                                                            <div class="product-description">
                                                                <h5><a href="#">{{ item.title }}</a></h5>
                                                                <div class="price-box">
                                                                    <span class="price">${{ item.new_price }}</span>
                                                                    <span class="old-price">${{ item.old_price }}</span>
                                                                </div>
                                                                <span class="rating">
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star-o"></i>
                                                                </span>
                                                                <div class="product-action">
                                                                    <div class="button-group">
                                                                        <div class="product-button">
                                                                            <button><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                                                        </div>
                                                                        <div class="product-button-2">
                                                                            <a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart-o"></i></a>
                                                                            <a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-signal"></i></a>
                                                                            <a href="#" class="modal-view" data-toggle="modal" data-target="#productModal" title="Quickview"><i class="fa fa-search-plus"></i></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- END PRODUCT-AREA (3) -->
                    <!-- START SMALL-PRODUCT-AREA (1) -->
                    <div class="small-product-area">
							<!-- Start Product-Menu -->
							<div class="row">
								<div class="col-xs-12 col-md-12">
									<div class="product-menu">
										<ul role="tablist">
										    <li role="presentation" class=" active"><a href="#display-4-1" role="tab" data-toggle="tab">Latest</a></li>
										    <li role="presentation"><a href="#display-4-2" role="tab" data-toggle="tab">Sale</a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- End Product-Menu -->
							<!-- Start Product -->
							<div class="row">
								<div class="col-xs-12 col-md-12">
									<div class="product carosel-navigation">
										<div class="tab-content">
											<!-- Product = display-4-1 -->
											<div role="tabpanel" class="tab-pane fade in active" id="display-4-1">
												<div class="row" style="margin-top:20px;">
													<div class="active-small-product">
														<!-- Start Single-Product -->
                                                        {% for item in item_last%}
														<div class="col-xs-12">
															<div class="single-product">
																<div class="product-img">
																	<a href="product_detail/{{item.id}}">
																		<img class="primary-img" src="{{ item.image.url }}" alt="Product" style="height:130px;">
																	</a>
																</div>
																<div class="product-description">
																	<h5><a href="#">{{ item.title }}</a></h5>
																	<div class="price-box">
																		<span class="price">${{ item.new_price }}</span>
																		<span class="old-price">${{ item.old_price }}</span>
																	</div>
																	<span class="rating">
																		<i class="fa fa-star"></i>
																		<i class="fa fa-star"></i>
																		<i class="fa fa-star"></i>
																		<i class="fa fa-star"></i>
																		<i class="fa fa-star-o"></i>
																	</span>
																	<div class="product-action">
																		<div class="product-button-2">
																			<a href="#" data-toggle="tooltip" title="Add Cart"><i class="fa fa-shopping-cart"></i></a>
																			<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart-o"></i></a>
																			<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-signal"></i></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
                                                        {% endfor %}
														<!-- End Single-Product -->
													</div>
												</div>
											</div>
											<!-- End Product = display-4-1 -->
											<!-- Start Product = display-4-2 -->
											<div role="tabpanel" class="tab-pane fade" id="display-4-2">
												<div class="row">
													<div class="active-small-product">
														<!-- Start Single-Product -->
                                                        {% for item in item_list %}
                                                        {% if item.old_price > '1' %}
														<div class="col-xs-12">
															<div class="single-product">
																<div class="product-img">
																	<a href="product_detail/{{item.id}}">
																		<img class="primary-img" src="{{ item.image.url }}" alt="Product" style="height:130px;">
																	</a>
																</div>
																<div class="product-description">
																	<h5><a href="#">{{ item.title }}</a></h5>
																	<div class="price-box">
																		<span class="price">${{ item.new_price }}</span>
																		<span class="old-price">${{ item.old_price }}</span>
																	</div>
																	<span class="rating">
																		<i class="fa fa-star"></i>
																		<i class="fa fa-star"></i>
																		<i class="fa fa-star"></i>
																		<i class="fa fa-star"></i>
																		<i class="fa fa-star-o"></i>
																	</span>
																	<div class="product-action">
																		<div class="product-button-2">
																			<a href="#" data-toggle="tooltip" title="Add Cart"><i class="fa fa-shopping-cart"></i></a>
																			<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart-o"></i></a>
																			<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-signal"></i></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
                                                        {% endif %}
                                                        {% endfor %}
														<!-- End Single-Product -->
													</div>
												</div>
											</div>
											<!-- End Product = display-4-2 -->
										</div>
									</div>
								</div>
							</div>
							<!-- End Product -->
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- START BRAND-LOGO-AREA -->
    <div class="brand-logo-area carosel-navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="area-title">
                        <h3 class="title-group border-red gfont-1">Brand Logo</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="active-brand-logo">
                    <div class="col-md-2">
                        <div class="single-brand-logo">
                            <a href="#"><img src="{% static 'img/brand/1.png' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="single-brand-logo">
                            <a href="#"><img src="{% static 'img/brand/2.png' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="single-brand-logo">
                            <a href="#"><img src="{% static 'img/brand/3.png' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="single-brand-logo">
                            <a href="#"><img src="{% static 'img/brand/4.png' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="single-brand-logo">
                            <a href="#"><img src="{% static 'img/brand/5.png' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="single-brand-logo">
                            <a href="#"><img src="{% static 'img/brand/6.png' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="single-brand-logo">
                            <a href="#"><img src="{% static 'img/brand/1.png' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="single-brand-logo">
                            <a href="#"><img src="{% static 'img/brand/2.png' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="single-brand-logo">
                            <a href="#"><img src="{% static 'img/brand/3.png' %}" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END BRAND-LOGO-AREA -->
    <!-- START SUBSCRIBE-AREA -->
    <div class="subscribe-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-7 col-xs-12">
                    <label class="hidden-sm hidden-xs">Sign Up for Our Newsletter:</label>
                    <div class="subscribe">
                        <form action="#">
                            <input type="text" placeholder="Enter Your E-mail">
                            <button type="submit">Subscribe</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-4 col-sm-5 col-xs-12">
                    <div class="social-media">
                        <a href="#"><i class="fa fa-facebook fb"></i></a>
                        <a href="#"><i class="fa fa-google-plus gp"></i></a>
                        <a href="#"><i class="fa fa-twitter tt"></i></a>
                        <a href="#"><i class="fa fa-youtube yt"></i></a>
                        <a href="#"><i class="fa fa-linkedin li"></i></a>
                        <a href="#"><i class="fa fa-rss rs"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SUBSCRIBE-AREA -->
    </section>
{% endblock %}